{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static "css/style.css" %}">
    <link rel="stylesheet" href="{% static "css/uikit.min.css" %}">
    <title>Товары</title>
</head>
<body>
{% include 'header.html' %}
    <div class="content uk-margin-top">
<h1>Витамины</h1>
    <div class="cards">
        <div class="card">
            <h4>Item</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id, ipsa!</p>
        </div>
         <div class="card">
            <h4>Item</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id, ipsa!</p>
        </div>
         <div class="card">
            <h4>Item</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id, ipsa!</p>
        </div>
         <div class="card">
            <h4>Item</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id, ipsa!</p>
        </div>
         <div class="card">
            <h4>Item</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id, ipsa!</p>
        </div>
         <div class="card">
            <h4>Item</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id, ipsa!</p>
        </div>
         <div class="card">
            <h4>Item</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id, ipsa!</p>
        </div>
         <div class="card">
            <h4>Item</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id, ipsa!</p>
        </div>
    </div>
</div>


<script src="{% static "js/uikit.min.js" %}"></script>
</body>
</html>